<% title 'Profile: ' + @user.username %>  

<h1>
  

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
        
      </h1>
      <%= @user.email %>
      <strong><br>topics</br></strong>
      <% @user.topics.each do |topic| %>  
        <%= link_to topic.name, topic_path(topic.id) %>  
      <% end %>  
    </td>
    

  </tr>
</table>